@model SecretDashboard

 <div class="container">
     <a asp-action="Index"  asp-controller="Home"><h1>LOGOUT</h1></a> <br><hr>
     <h1> A Wall of Healthy Habbits !!  </h1><br>

                    <h1>Welcome @Model.CurrentUser.FirstName   @Model.CurrentUser.LastName !!.  You have successfully signed in!</h1> <br><hr>
                        
            
        
                
                        
                        <h1>Hello again  @Model.CurrentUser.FirstName  ! </h1> <br>

                                    <h1 > -Share a daily routine good for Journalizing! </h1> 
                                    <h1 > -You can always edit or delete your suggestion! They are Anonymous.</h1> 
                                    <h1 >-You  are encouraged to Like or Unlike others suggestions. Also See how popular yours are!</h1> 
                                    <h1>-You might not be able to like or unlike  your own suggestions or delete suggestions made by other users.<h1>
                                    <h1>-The wall is routinely monitored by admin. Inappropriate suggestions may be removed. </h1><br><hr>
                                    

                        
                                
                                
                                    <form asp-action="Create" asp-controller="Secret" method="post">
                                        <input type="hidden" asp-for="NewSecret.UserId" value="@Model.CurrentUser.UserId">
                                        <div class="form-group">
                                            <label asp-for="NewSecret.Content">Enter New Suggestion(s)!!</label>
                                            <span asp-validation-for="NewSecret.Content"></span>
                                            <textarea class="form-control" asp-for="NewSecret.Content"></textarea>
                                        </div> 
                                        <button >submit</button> <br>
                                        </form>

                                    <form>
                                
                                </form> <br>

                                    
                                    <h1>Recent suggestions!</h1> <br>

            
                                    @foreach ( var secret in Model.RecentSecrets)

                        

                                    {  if(secret.UserId == Model.CurrentUser.UserId) 
                                    
                                            {
                                                <p> @secret.Content (@secret.CreatedAt) <span> @secret.Likes.Count </span>| <a asp-action="Edit" asp-route-secretId="@secret.SecretId">EDIT</a> |<a asp-action="Delete" asp-route-secretId="@secret.SecretId">DELETE</a></p><br><hr>
                                            }
                                                else if(secret.Likes.Any (s=> s.UserId == Model.CurrentUser.UserId))
                                                {
                                                    <p>@secret.Content (@secret.CreatedAt) <span> @secret.Likes.Count </span> | <strong>You Liked This</strong> | <a asp-action="Unlike" asp-route-secretId="@secret.SecretId">UNLIKE</a></p> <br><hr>
                                            
                                                }
                                                else
                                                {
                                                    <p>@secret.Content (@secret.CreatedAt) <span>@secret.Likes.Count</span> | <a asp-action="Like" asp-route-secretId="@secret.SecretId">LIKE</a></p> <br><hr>
                                                }

                                    }
                        
                                

</div>
