@model SecretDashboard


<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Logo</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
        integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <style>
        body {
            background-color: maroon;
            color: whitesmoke;
            font-size: 36px;
        }



        .container-fluid{
            background-color: deeppink;
            width: 1250px;
            height: auto;
            margin: 0 auto;
            padding: 10px 10px 5px 10px;
            border: 6px solid whitesmoke;
            border-radius: 10px;
            margin-bottom: 160px;
            margin-top: 80px;

        }



    </style>
</head>


<body>
    <h1> A Wall of Healthy Habbits   </h1>

            <h1>Welcome, @Model.CurrentUser.FirstName   @Model.CurrentUser.LastName. You have successfully signed in!</h1> 
    <div class="container-fluid" class="form-group">
        
                <a asp-action="Index"  asp-controller="Home">logout</a> 
                <h1>Hello again , @Model.CurrentUser.FirstName   </h1> 

                            <h1 > Share a daily routine good for Journalizing! </h1> 
                            <h1 > You can always edit or delete your suggestion! They are Anonymous</h1> 
                            <h1 >You  are encouraged to Like or Unlike others suggestions. Also See how popular yours are!</h1> 
                            <h1>You might not be able to like or unlike  your own suggestions or delete suggestions made by other users <h1>
                            <h1> The wall is routinely monitored by admin. Inappropriate suggestions may be removed </h1>
                            

                
                        
                        
                            <form asp-action="Create" asp-controller="Secret" method="post">
                                <input type="hidden" asp-for="NewSecret.UserId" value="@Model.CurrentUser.UserId">
                                <div class="form-group">
                                    <label asp-for="NewSecret.Content"></label>
                                    <span asp-validation-for="NewSecret.Content"></span>
                                    <textarea class="form-control" asp-for="NewSecret.Content"></textarea>
                                </div> 
                                <button >submit</button> <br>
                                </form>

                            <form>
                        
                        </form>

                            
                            <h1>Recent suggestions</h1> 

    
                            @foreach ( var secret in Model.RecentSecrets)

                 

                            {  if(secret.UserId == Model.CurrentUser.UserId) 
                            
                                    {
                                        <p> @secret.Content (@secret.CreatedAt) <span> @secret.Likes.Count </span>| <a asp-action="Edit" asp-route-secretId="@secret.SecretId">EDIT</a> |<a asp-action="Delete" asp-route-secretId="@secret.SecretId">DELETE</a></p>
                                    }
                                        else if(secret.Likes.Any (s=> s.UserId == Model.CurrentUser.UserId))
                                        {
                                            <p>@secret.Content (@secret.CreatedAt) <span> @secret.Likes.Count </span> | <strong>You Liked This</strong> | <a asp-action="Unlike" asp-route-secretId="@secret.SecretId">UNLIKE</a></p> 
                                    
                                        }
                                        else
                                        {
                                            <p>@secret.Content (@secret.CreatedAt) <span>@secret.Likes.Count</span> | <a asp-action="Like" asp-route-secretId="@secret.SecretId">LIKE</a></p>
                                        }

                            }



                        
                                

    </div>

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
                integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
                crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
                integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
                crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
                integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
                crossorigin="anonymous"></script>


</body>

</html>